.as-table { 
    display: table; 
    border-collapse: collapse; 
    border-radius: 4px !important; 
}

.as-thead { 
    display: table-header-group; 
}

.as-tbody { 
    display: table-footer-group; 
}

.as-tr { 
    display: table-row; 
    font-weight: bold; 
}

.as-td {
  display: table-cell;
  vertical-align: middle;
  padding: 3px !important;
  border: 1px solid #cacaca;
  float:none;
}