@font-face {
    font-family: 'Philosopher';
    font-style: normal;
    src: url('fonts/Philosopher/Philosopher-Regular.ttf')
}
  
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    src: url('fonts/Open_Sans/OpenSans-Regular.ttf')
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    src: url('fonts/Open_Sans/OpenSans-Bold.ttf')
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    src: url('fonts/Open_Sans/OpenSans-Italic.ttf')
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: bold;
    src: url('fonts/Open_Sans/OpenSans-BoldItalic.ttf')
}
