@mixin rounded($size) {
  border-radius: 50%;
  height: $size;
  width: $size;
  line-height: $size;
  text-align: center;
  display: block;
  padding: 0;
  outline: 0;
}

@mixin btn() {
  cursor: pointer;
  border: 0;
  text-align: center;
  &:active {
    box-shadow: 1px 1px 1px 0 #494949 inset;
  }
}