@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  src: url('fonts/Philosopher/Philosopher-Regular.ttf')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  src: url('fonts/Open_Sans/OpenSans-Regular.ttf')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/Open_Sans/OpenSans-Bold.ttf')
}

.inactive {
  pointer-events: none;
  opacity: 0.5;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.mg-b-10 { margin-bottom: 10px; }

.pd-0 { padding: 0; }

.inline { display: inline; }

.no-outline:focus, .no-outline:active { outline: none !important; }

/* TABLE BEHAVIOR */

.as-table { display: table; border-collapse: collapse; border-radius: 4px !important; }

.as-thead { display: table-header-group; }

.as-tbody { display: table-footer-group; }

.as-tr { display: table-row; font-weight: bold; }

.as-td {
  display: table-cell;
  vertical-align: middle;
  padding: 3px !important;
  border: 1px solid #cacaca;
  float:none;
}